CREATE DATABASE [ASG_QlySinhVien]
GO

USE [ASG_QlySinhVien]
GO
/****** Object:  Table [dbo].[Scoreboard]    Script Date: 3/23/2022 7:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scoreboard](
	[idResult] [int] IDENTITY(1,1) NOT NULL,
	[idStudent] [char](7) NOT NULL,
	[Toan] [float] NULL,
	[Ly] [float] NULL,
	[Hoa] [float] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[idResult] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/23/2022 7:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[idStudent] [char](7) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phoneNumber] [varchar](20) NULL,
	[sex] [smallint] NOT NULL,
	[address] [nvarchar](150) NULL,
	[avatar] [image] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/23/2022 7:35:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [varchar](24) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[typeUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Scoreboard] ON 

INSERT [dbo].[Scoreboard] ([idResult], [idStudent], [Toan], [Ly], [Hoa]) VALUES (1, N'1      ', 4, 10, 10)
INSERT [dbo].[Scoreboard] ([idResult], [idStudent], [Toan], [Ly], [Hoa]) VALUES (2, N'2      ', 9, 10, 10)
INSERT [dbo].[Scoreboard] ([idResult], [idStudent], [Toan], [Ly], [Hoa]) VALUES (4, N'3      ', 10, 5, 4)
SET IDENTITY_INSERT [dbo].[Scoreboard] OFF
GO
INSERT [dbo].[Student] ([idStudent], [name], [email], [phoneNumber], [sex], [address], [avatar]) VALUES (N'2      ', N'Axolotls', N'Axolotls@gmail.com', N'0808029434', 1, N'Bubble Axolots', NULL)
GO
INSERT [dbo].[User] ([username], [password], [typeUser]) VALUES (N'ad', N'123', N'Admin')
INSERT [dbo].[User] ([username], [password], [typeUser]) VALUES (N'admin', N'12345', N'Admin')
INSERT [dbo].[User] ([username], [password], [typeUser]) VALUES (N'axolotl', N'qwe123', N'Giảng viên')
GO
ALTER TABLE [dbo].[Scoreboard]  WITH CHECK ADD  CONSTRAINT [FK_Scoreboard_Student] FOREIGN KEY([idStudent])
REFERENCES [dbo].[Student] ([idStudent])
GO
ALTER TABLE [dbo].[Scoreboard] CHECK CONSTRAINT [FK_Scoreboard_Student]
GO
